@(allCommonFriends: java.util.Map[AppFriend,java.util.List[AppFriend]])
@import java.util.Map
@import java.util.List



@for(set <- allCommonFriends.entrySet()){
<div class="accordion-group">
        <div class="accordion-heading accordionize">
            <a class="secondary-toggle accordion-toggle " data-toggle="collapse" data-parent="#"
            href="#@set.getKey.user_id">
                @set.getKey.name
                <span class="font-icon-arrow-simple-down"></span>
            </a>
        </div>
        <div id="@set.getKey.user_id" class="accordion-body collapse">
            <div class="accordion-inner">
            @if(!set.getValue.isEmpty){

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>User Id</th>
                            <th>Picture</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody id="friends-data" >
            @for(friend <- set.getValue) {
                <tr>
                    <td>@friend.user_id</td>
                    <td><img src="@routes.ImageController.getImage(friend.picId())"  alt="This is a profile picture" /></td>
                    <td>@friend.name</td>
                </tr>
            }

                    </tbody>
                </table>
            } else{
                <div class="alert alert-standard fade in">
                    You have no common friends.
                </div>
            }
            </div>
        </div>
    </div>
}
