@(graphnodes: java.util.List[GraphNode])
@import java.util.List

    <!-- END SIGMA IMPORTS -->

<div id="container">

    <style type="text/css">
    #graph-container {
    position : relative ;
    overflow : hidden ;
    margin : auto ;
    height : 600px ;
    max-width : 800px ;
    background : white ;
    }
    </style>

    <div id="graph-container"></div>
</div>
<script>
function initSigma ( ) {
/**
* IMPORTANT: This only works with the canvas renderer.TBD in the future
* will also support the WebGL renderer.
*/
sigma.utils.pkg ( 'sigma.canvas.nodes' ) ;

// generate a random graph
var i,
s,
img,
N = 100,
E = 500,
g = {
nodes :[ ],
edges :[ ]
},
urls =[
],
colors =[
'#34495e'
] ;
i = 0 ;
    @for(node <- graphnodes) {
        var id = '  @routes.ImageController.getImage(node.getPictureId) ';
        var node = {
        id : '  @node.getUser_id ',
        name : '  @node.getName ',
        // note the ShapeLibrary.enumerate() returns the names of all
        // supported renderers
        type : 'square',
        x : Math.random ( ),
        y : Math.random ( ),
        size : 10,
        color : '#34495e',
        nickname : ' @node.getNickname ',
        gender : ' @node.getGender ',
        bc : ' @node.getBc ',
        cc : ' @node.getCc ',
        dc : ' @node.getDc ',
        bc_n : ' @node.getBc_n ',
        cc_n : ' @node.getCc_n ',
        dc_n : ' @node.getDc_n ',

        //    borderColor: colors[Math.floor(Math.random()* colors.length)]
        } ;


        node.image = {
        url : '  @routes.ImageController.getImage(node.getPictureId) ',
        // scale/clip are ratio values applied on top of 'size'
        scale : 1.3,
        } ;

        g.nodes.push ( node ) ;
        i ++ ;

    }



i = 0 ;
    @for(node <- graphnodes) {
        @for(e <- node.getConnections) {


            g.edges.push ( {
            id : 'e' + i,
            source : '  @node.getUser_id ',
            target : '  @e ',
            size : Math.random ( ),
            color: '#34495e'
            } ) ;
            i ++ ;
        }


    }

s = new sigma ( {
graph : g,
renderer : {
// IMPORTANT:
// This works only with the canvas renderer, so the
// renderer type set as "canvas" is necessary here.
container : document.getElementById ( 'graph-container' ),
type : 'canvas',
    nodeHoverColor:'#1abc9c',
    borderSize:5
},
settings : {
minNodeSize : 8,
maxNodeSize : 16
}
} ) ;
CustomShapes.init ( s ) ;
s.refresh ( ) ;

function fillModal ( e ) {
console.log ( "filling:" + e.data.node.name ) ;

$ ( "#modal-name" ).text ( e.data.node.name ) ;
$ ( "#modal-nickname" ).text ( e.data.node.nickname ) ;
$ ( "#modal-gender" ).text ( e.data.node.gender ) ;
$ ( "#modal-bc" ).text ( e.data.node.bc ) ;
$ ( "#modal-cc" ).text ( e.data.node.cc ) ;
$ ( "#modal-dc" ).text ( e.data.node.dc ) ;
$ ( "#modal-bc_n" ).text ( e.data.node.bc_n ) ;
$ ( "#modal-cc_n" ).text ( e.data.node.cc_n ) ;
$ ( "#modal-dc_n" ).text ( e.data.node.cc_n ) ;
}
s.bind ( 'clickNode', function ( e ) {
    fillModal ( e ) ;
    $ ( '#myModal' ).modal ( 'toggle' ) ;
    console.log ( e.type ) ;
} );

s.bind ( 'overNode', function ( e ) {
e.data.node.edgeColor = '#1abc9c'
console.log ( e.type ) ;
} );

}

initSigma ( ) ;

</script>

