@(message: String)
    @main("Welcome to Apple test app") {
    <script type="text/javascript" src='@routes.FBController.jsRoutes'></script>

    <div class="alert alert-info fade in">
            App status: @(util.FBHelper.getAppStatus) <br>
        </div>
        @*<h4 >@Html(models.TestBar.getBars())</h4>*@
        @*<form action="@routes.Application.addBar()" method="post">*@
        @*<input name="name">*@
        @*<input type="submit">*@
        @*</form>*@
        <!-- This section is for Splash Screen -->
        <section id="jSplash">
            <div id="circle"></div>
        </section>
        <!-- End of Splash Screen -->

        <!-- Homepage Slider -->

        @if(!util.FBHelper.userLogged()) {
            <div id="home" class="container">
            <div id="log-in" class="text-center" style="height : auto ; width : auto">
                <a class="button button-large" href="http://localhost:9000/fblogin">Log In</a>
            </div>
            </div>
        }

        <!-- End Homepage Slider -->

        <!-- Header -->
        <header>
            <div class="sticky-nav">
                <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

                <div id="logo">
                    <a id="goUp" href="#home" title="Brushed | Responsive One Page Template">Brushed Template</a>
                </div>

                <nav id="menu">
                    <ul id="menu-nav">
                        <li>
                            <a class="external" data-toggle="collapse" data-parent="#accordionArea"
                            href="#oneArea" onclick="getFriends ( ) ;">Get Friends</a>

                        </li>
                        <li id="get-mutual-friends-li" class="hidden"><a class="external" data-toggle="collapse" data-parent="#accordionArea"
                        href="#twoArea" onclick="getMutualFriends ( ) ;">
                            Get Mutual Friends</a></li>
                        <li id="see-graph-li" class="hidden"><a class="external" data-toggle="collapse" data-parent="#accordionArea"
                        href="#threeArea" >See Graph</a></li>
                        <li><a href="http://localhost:9000/fblogout" class="external">Log Out</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <!-- End Header -->

        <!-- Our Work Section -->
        <div id="about" class="page">
            <div class="container">

                    <!-- Title Page -->
                <div class="row">
                    <div class="span12">
                        <div class="title-page">
                            <h2 class="title">Friendster</h2>

                            <h3 class="title-description">
                                Check Out The Relationships Of Your <a href="http://facebook.com">
                                Facebook</a>
                                Profile.</h3>
                        </div>

                            <!--Profile-->
                        <div>
                            <div class="span3">
                                <div class="image-wrap">
                                    <div class="hover-wrap">
                                        <span class="overlay-img"></span>
                                        <span class="overlay-text-thumb">CTO/Founder</span>
                                    </div>
                                    @if(util.FBHelper.userLogged()) {
                                        <img src="@routes.ImageController.getImage(util.FBHelper.getAppUser.getBigPicId)" alt="This is an image" />
                                    } else {
                                        <img src="@routes.Assets.at("images/work/thumbs/image-01.jpg")" alt="John Doe">
                                        }
                                </div>
                            </div>
                            <div class="span8">
                                @if(util.FBHelper.userLogged()) {
                                    <h3 class="profile-name">@util.FBHelper.getAppUser.profile.name</h3>
                                    <p class="profile-description">
                                        Nickname: <span>@util.FBHelper.getAppUser.profile.nickname</span><br>
                                        Gender: <span>@util.FBHelper.getAppUser.profile.gender</span>    <br>
                                        Link: <span><a href="@util.FBHelper.getAppUser.profile.link">@util.FBHelper.getAppUser.profile.link</a></span><br>

                                    </p>
                                        <!---->
                                } else {
                                    <h3 class="profile-name">John Doe</h3>
                                    <p class="profile-description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                        ac
                                        augue at erat <a href="#">hendrerit dictum</a>.
                                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit
                                        metus
                                        diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                        inceptos
                                        himenaeos.</p>
                                        <!---->
                                }
                            </div>
                        </div>
                            <!--End Profile-->

                    </div>
                </div>
                    <!-- End Title Page -->

                    <!--Accordion-->
                <div class="accordion" id="accordionArea">

                    <div id="get-friends" class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="#oneArea" onclick="getFriends ( ) ;">
                                Get Friends
                            </a>
                        </div>
                        <div id="oneArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input name="your_name" value="your_value" type="checkbox">
                                            </th>
                                            <th>User Id</th>
                                            <th>Picture</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="friends-data" >
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="get-mutual-friends" class="accordion-group hidden">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="#twoArea" onclick="getMutualFriends ( ) ;">
                                Get Mutual Friends
                            </a>
                        </div>
                        <div id="twoArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div class="accordion" id="toggleArea">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="see-graph" class="accordion-group hidden">

                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="http://localhost:9000/graph">
                                See Graph
                            </a>
                        </div>

                        <div id="threeArea" class="accordion-body collapse">
                            <div id="graph" class="accordion-inner">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <!-- End Accordion -->
            <div class="modal"><!-- Place at bottom of page --></div>

        </div>
        <!-- End Our Work Section -->


        <!-- Footer -->
        <footer>
            <p class="credits">&copy;2013 Brushed. <a href="http://themes.alessioatzeni.com/html/brushed/"
            title="Brushed | Responsive One Page Template">Brushed Template</a> by <a
            href="http://www.alessioatzeni.com/" title="Alessio Atzeni | Web Designer &amp; Front-end Developer">Alessio
                Atzeni</a></p>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->
        <a id="back-to-top" href="">
            <i class="font-icon-arrow-simple-up"></i>
        </a>
        <!-- End Back to Top -->

        <!-- Js -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
        <!-- jQuery Core -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <!-- Bootstrap -->
        @*<script src="@routes.Assets.at("javascripts/supersized.3.2.7.min.js")"></script>*@
        <!-- Slider -->
        <script src="@routes.Assets.at("javascripts/waypoints.js")"></script>
        <!-- WayPoints -->
        <script src="@routes.Assets.at("javascripts/waypoints-sticky.js")"></script>
        <!-- Waypoints for Header -->
        <script src="@routes.Assets.at("javascripts/jquery.isotope.js")"></script>
        <!-- Isotope Filter -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox.pack.js")"></script>
        <!-- Fancybox -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox-media.js")"></script>
        <!-- Fancybox for Media -->
        <script src="@routes.Assets.at("javascripts/jquery.tweet.js")"></script>
        <!-- Tweet -->
        <script src="@routes.Assets.at("javascripts/plugins.js")"></script>
        <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
        <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <!-- Default JS -->
        <!-- End Js -->

        <style type="text/css">

        .modal {
        display : none ;
        position : fixed ;
        z-index : 1000 ;
        top : 0 ;
        left : 0 ;
        height : 100% ;
        width : 100% !important ; ;
        background : rgba( 0, 0,0,.8 ) url( 'http://i.stack.imgur.com/tQTRW.gif' ) 50% 50%
        no-repeat ;
            margin: 0 !important;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading {
        overflow : hidden ;
        }

        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading.modal {
        display : block ;
        }
        </style>


    }
