@(message: String)
    @main("Welcome to Apple test app") {
    <script type="text/javascript" src='@routes.FBController.jsRoutes'></script>

    <div class="alert alert-info fade in">
            App status: @(util.FBHelper.getAppStatus) <br>
        </div>
        @*<h4 >@Html(models.TestBar.getBars())</h4>*@
        @*<form action="@routes.Application.addBar()" method="post">*@
        @*<input name="name">*@
        @*<input type="submit">*@
        @*</form>*@
        <!-- This section is for Splash Screen -->
        <section id="jSplash">
            <div id="circle"></div>
        </section>
        <!-- End of Splash Screen -->

        <!-- Homepage Slider -->

        @if(!util.FBHelper.userLogged()) {
            <div id="home" class="container">
            <div id="log-in" class="text-center" style="height : auto ; width : auto">
                <a class="button button-large" href="http://localhost:9000/fblogin">Log In</a>
            </div>
            </div>
        }

        <!-- End Homepage Slider -->

        <!-- Header -->
        <header>
            <div class="sticky-nav">
                <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>

                <div id="logo">
                    <a id="goUp" href="#home" title="Brushed | Responsive One Page Template">Brushed Template</a>
                </div>

                <nav id="menu">
                    <ul id="menu-nav">
                        <li>
                            <a class="external" data-toggle="collapse" data-parent="#accordionArea"
                            href="#oneArea" onclick="getFriends ( ) ;">Get Friends</a>

                        </li>
                        <li class="get-mutual-friends-li hidden"><a class="external" data-toggle="collapse" data-parent="#accordionArea"
                        href="#twoArea" onclick="getMutualFriends ( ) ;">
                            Get Mutual Friends</a></li>
                        <li class="see-graph-li hidden"><a class="external" data-toggle="collapse" data-parent="#accordionArea"
                        href="#threeArea" onclick="graph();" >See Graph</a></li>
                        <li><a href="http://localhost:9000/fblogout" class="external">Log Out</a></li>
                    </ul>
                </nav>

            </div>
        </header>
        <!-- End Header -->

        <!-- Our Work Section -->
        <div id="about" class="page">
            <div class="container">

                    <!-- Title Page -->
                <div class="row">
                    <div class="span12">
                        <div class="title-page">
                            <h2 class="title">Friendster</h2>

                            <h3 class="title-description">
                                Check Out The Relationships Of Your <a href="http://facebook.com">
                                Facebook</a>
                                Profile.</h3>
                        </div>

                            <!--Profile-->
                        <div>
                            <div class="span3">
                                <div class="image-wrap">
                                    @if(util.FBHelper.userLogged()) {
                                        <div class="hover-wrap">
                                            <span class="overlay-img"></span>
                                            <span class="overlay-text-thumb">@util.FBHelper.getAppUser.profile.name</span>
                                        </div>
                                        <img src="@routes.ImageController.getImage(util.FBHelper.getAppUser.getBigPicId)" alt="This is an image" />
                                    } else {
                                        <img src="@routes.Assets.at("images/work/thumbs/image-01.jpg")" alt="John Doe">
                                        }
                                </div>
                            </div>
                            <div class="span8">
                                @if(util.FBHelper.userLogged()) {
                                    <h3 class="profile-name">@util.FBHelper.getAppUser.profile.name</h3>
                                    <p class="profile-description">
                                        Nickname: <span>@util.FBHelper.getAppUser.profile.nickname</span><br>
                                        Gender: <span>@util.FBHelper.getAppUser.profile.gender</span>    <br>
                                        Link: <span><a href="@util.FBHelper.getAppUser.profile.link">@util.FBHelper.getAppUser.profile.link</a></span><br>

                                    </p>
                                        <!---->
                                } else {
                                    <h3 class="profile-name">John Doe</h3>
                                    <p class="profile-description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
                                        ac
                                        augue at erat <a href="#">hendrerit dictum</a>.
                                        Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit
                                        metus
                                        diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                                        inceptos
                                        himenaeos.</p>
                                        <!---->
                                }
                            </div>
                        </div>
                            <!--End Profile-->

                    </div>
                </div>
                    <!-- End Title Page -->

                    <!--Accordion-->
                <div class="accordion" id="accordionArea">

                    <div id="get-friends" class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="#oneArea" onclick="getFriends ( ) ;">
                                Get Friends
                            </a>
                        </div>
                        <div id="oneArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                <input id="selectAll" value="your_value" type="checkbox">
                                            </th>
                                            <th>User Id</th>
                                            <th>Picture</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="friends-data" >
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div id="get-mutual-friends" class="accordion-group">
                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="#twoArea" onclick="getMutualFriends ( ) ;">
                                Get Mutual Friends
                            </a>
                        </div>
                        <div id="twoArea" class="accordion-body collapse">
                            <div class="accordion-inner">
                                <div id="fb-common">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="see-graph" class="accordion-group">

                        <div class="accordion-heading accordionize">
                            <a class="accordion-toggle text-center" data-toggle="collapse" data-parent="#accordionArea"
                            href="#threeArea" onclick="graph();">
                                See Graph
                            </a>
                        </div>

                        <div id="threeArea" class="accordion-body collapse">
                            <div class="accordion-inner" >
                                <div id="graph">

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
                <!-- End Accordion -->
            <div class="modal modal-loader"><!-- Place at bottom of page --></div>

        </div>
        <!-- End Our Work Section -->


        <!-- Footer -->
        <footer>
            <p class="credits">&copy;2014 Friendster. <a href=""
            title="Friendster">Friendster | Advanced Web Techonologies App</a> by <a
            href="" title="Romanov & Slodkowski">Romanov & Slodkowski</a></p>
        </footer>
        <!-- End Footer -->

        <!-- Back To Top -->
        <a id="back-to-top" href="">
            <i class="font-icon-arrow-simple-up"></i>
        </a>
        <!-- End Back to Top -->

        <!-- Js -->
        <script src="@routes.Assets.at("javascripts/jquery-1.11.0.min.js")"></script>
        <!-- jQuery Core -->
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")"></script>
        <!-- Bootstrap -->
        @*<script src="@routes.Assets.at("javascripts/supersized.3.2.7.min.js")"></script>*@
        <!-- Slider -->
        <script src="@routes.Assets.at("javascripts/waypoints.js")"></script>
        <!-- WayPoints -->
        <script src="@routes.Assets.at("javascripts/waypoints-sticky.js")"></script>
        <!-- Waypoints for Header -->
        <script src="@routes.Assets.at("javascripts/jquery.isotope.js")"></script>
        <!-- Isotope Filter -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox.pack.js")"></script>
        <!-- Fancybox -->
        <script src="@routes.Assets.at("javascripts/jquery.fancybox-media.js")"></script>
        <!-- Fancybox for Media -->
        <script src="@routes.Assets.at("javascripts/jquery.tweet.js")"></script>
        <!-- Tweet -->
        <script src="@routes.Assets.at("javascripts/plugins.js")"></script>
        <!-- Contains: jPreloader, jQuery Easing, jQuery ScrollTo, jQuery One Page Navi -->
    <!-- START SIGMA IMPORTS -->
    <script src="@routes.Assets.at("javascripts/sigma.js/src/sigma.core.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/conrad.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/utils/sigma.utils.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/utils/sigma.polyfills.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/sigma.settings.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/classes/sigma.classes.dispatcher.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/classes/sigma.classes.configurable.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/classes/sigma.classes.graph.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/classes/sigma.classes.camera.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/classes/sigma.classes.quad.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/captors/sigma.captors.mouse.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/captors/sigma.captors.touch.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/sigma.renderers.canvas.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/sigma.renderers.webgl.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/sigma.renderers.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/webgl/sigma.webgl.nodes.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/webgl/sigma.webgl.nodes.fast.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/webgl/sigma.webgl.edges.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/webgl/sigma.webgl.edges.fast.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/webgl/sigma.webgl.edges.arrow.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.labels.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.hovers.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.nodes.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.edges.def.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.edges.curve.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.edges.arrow.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/middlewares/sigma.middlewares.rescale.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/middlewares/sigma.middlewares.copy.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/misc/sigma.misc.animation.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/misc/sigma.misc.bindEvents.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/src/misc/sigma.misc.drawHovers.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/plugins/sigma.renderers.customShapes/shape-library.js")"></script>
    <script src="@routes.Assets.at("javascripts/sigma.js/plugins/sigma.renderers.customShapes/sigma.renderers.customShapes.js")"></script>


    <script src="@routes.Assets.at("javascripts/main.js")"></script>
        <!-- Default JS -->

        <!-- End Js -->

        <style type="text/css">

        .modal-loader {
        display : none ;
        position : fixed ;
        z-index : 1000 ;
        top : 0 ;
        left : 0 ;
        height : 100% ;
        width : 100% !important ; ;
        background : rgba( 0, 0,0,.8 ) url( 'http://i.stack.imgur.com/tQTRW.gif' ) 50% 50%
        no-repeat ;
            margin: 0 !important;
        }

        /* When the body has the loading class, we turn
           the scrollbar off with overflow:hidden */
        body.loading {
        overflow : hidden ;
        }

        /* Anytime the body has the loading class, our
           modal element will be visible */
        body.loading.modal-loader {
        display : block ;
        }
            .modal-dialog h4,.modal-dialog p{
                margin: 0;
            }
        </style>

    <!-- Modal -->
    <div class="modal hide" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel" style="color:black;">User Info</h4>
            </div>
            <div class="modal-body">
                <p>Name: <span id="modal-name"></span></p>
                <p>Nickname: <span id="modal-nickname"></span></p>
                <p>Gender: <span id="modal-gender"></span></p>
                <p>Degree Centrality: <span id="modal-dc"></span></p>
                <p>Normalized Degree Centrality: <span id="modal-dc_n"></span></p>
                <p>Betweenness Centrality: <span id="modal-bc"></span></p>
                <p>Normalized Betweennness Centrality: <span id="modal-bc_n"></span></p>
                <p>Closeness Centrality: <span id="modal-cc"></span></p>
                <p>Normalized CLoseness Centrality: <span id="modal-cc_n"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    </div>


    }
